<div class="sign_up_whole">
  <h2>Sign up</h2>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
  <div class="row columns">

    <div class="small-12 medium-6 large-6 columns">
      <div class="field">
        <%= f.label :first_name, "First Name" %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name, "Last Name" %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :street, "Street Address" %><br/>
        <%= f.text_field :street %>
      </div>

      <div class="field">
        <%= f.label :city %><br/>
        <%= f.text_field :city %>
      </div>

      <div class="field">
        <%= f.label :state %><br/>
        <%= f.text_field :state %>
      </div>
    </div>

    <div class="small-12 medium-6 large-6 columns">
      <div class="field">
        <%= f.label :zip, "Zip Code" %><br/>
        <%= f.text_field :zip %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :baker, "Want to be a Baker?" %>
        <%= f.check_box :baker %>
      </div>

      <div class="actions">
        <%= f.submit "Create Account" %>
      </div>
    </div>
  </div>

    <% end %>
</div>
