<div class="row container">

<div class="sign_up_whole">


  <h1>What's up <%= @user.username %>! Want cookies?</h1>

  <div class="large-6 medium-6 small-12 columns">
    <div class="primary callout radius">
    <h2><%= link_to "Order cookies", new_order_path%></h2>
    </div>
  </div>

  <%if @user.baker%>
  <div class="large-6 medium-6 small-12 columns">
    <div class="success callout radius">
      <h2><%= link_to "Bake Cookies and Get PAID", orders_path%></h2>
    </div>
    </div>
  <%end%>

  <h3>Current Ordered Orders</h3>
  <div>
    <% unless @orders.empty? %>
      <ul>
        <% @orders.each do |order| %>
        <% unless order.fulfilled && order.completion %>
            <% if order.fulfilled && !order.completion %>
              <li><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}" %></li>
              <p>This order was picked up by <%=link_to"#{order.provider.username}", "/users/#{order.provider.id}"%> Please rate your order!</p>
            <% elsif !order.fulfilled && !order.completion %>
              <li><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}" %></li>
            <% end %>
            <% end %>

        <% end %>
      </ul>
    <%end%>
  </div>
</div>
</div>
