<div class="row container">

<div class="sign_up_whole">

<h1 id="index-title" class="text-center ">DEVOUR</h1>
  <h3 id="index-welcome" class="text-center">What's up <%= @user.username %>! Want cookies?</h1>
<br/>
<br/>
  <div class="large-6 medium-6 small-12 columns">
    <div class="alert callout radius">
    <h2 id="button" class="text-center"><%= link_to "Order cookies", new_order_path%></h2>
    </div>
  </div>

  <%if @user.baker%>
  <div class="large-6 medium-6 small-12 columns">
    <div class="success callout radius">
      <h2 id="button" class="text-center"><%= link_to "Bake Cookies", orders_path%></h2>
    </div>
    </div>
  <%end%>

  <h4 id="list">Current Ordered Orders</h3>
  <div>
    <% unless @orders.empty? %>
      <ul>
        <% @orders.each do |order| %>
        <% unless order.fulfilled && order.completion %>
            <% if order.fulfilled && !order.completion %>
              <li id="list"><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}"%>
              </li>

              <p>This order was picked up by <%=link_to"#{order.provider.username}", "/users/#{order.provider.id}"%> Please rate your order!</p>
            <% elsif !order.fulfilled && !order.completion %>
              <li id="list"><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}" %>
              </li>
            <% end %>
            <% end %>

        <% end %>
      </ul>
    <%end%>
  </div>

  <%if @user.admin %>
  <h4 id="list">Users:</h3>

    <div class="large-6 medium-6 small-12 columns">
      <ul id="list">
        <% @users.each do |user| %>
        <li><%=link_to "#{user.username}","users/user.id"%></li>
        <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"} %>

        <%end%>
      </ul>
    </div>
    <%end%>
</div>
</div>
