
<div class="sign_up_whole">

<h1 id="index-title" class="text-center ">DEVOUR</h1>
  <h3 id="index-welcome" class="text-center">What's up <%= @user.first_name %>! Want cookies?</h1>
<br/>
<br/>
<div class="row container">
  <div class="large-6 medium-6 small-12 text-center columns">
    <p><%= button_to "Order Cookies",  new_order_path,method: :get, class: "button",id: "forms"%></p>
  </div>
  <div class="large-6 medium-6 small-12 text-center columns">

  <%if @user.baker%>

      <p><%= button_to "Bake Cookies", orders_path, method: :get, class: "button",id: "forms"%></p>
    </div>
  <%end%>
</div>

  <h4 id="list">Current Ordered Orders</h3>
  <div>
    <% unless @orders.empty? %>
      <ul>
        <% @orders.each do |order| %>
        <% unless order.fulfilled && order.completion %>
            <% if order.fulfilled && !order.completion %>
              <li id="list"><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}"%>
                ordered on <%= "#{order.created_at.to_date}"%></li>
              <p id="list">This order was picked up by <%=link_to"#{order.provider.username}", "/users/#{order.provider.id}"%> Please rate your order!</p>
            <% elsif !order.fulfilled && !order.completion %>
              <li id="list"><%= link_to "#{order.cookie_amount} #{order.cookie_type}", "/orders/#{order.id}" %>
                ordered on <%= "#{order.created_at.to_date}"%></li>
              </li>
            <% end %>
            <% end %>

        <% end %>
      </ul>
    <%end%>
  </div>

  <%if @user.admin %>
  <h4 id="list">Users:</h3>

    <div class="large-6 medium-6 small-12 columns">
      <ul id="list">
        <% @users.each do |user| %>

        <li><%=link_to "#{user.username}","users/user.id"%></li>
        <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"} %>

        <%end%>
      </ul>
    </div>
    <%end%>
</div>
</div>
