  <div class="sign_up_whole">

      <div class="columns large-6 small-12">

        <h1> <%= @baker.username %></h1>

        <h1>
          <%if @average.nan? %>
            Be the first to rate <%=@baker.username %>!
          <% else%>
            Rating:<%= @average %>
            <%end%>
        </h1>
        </div>

      <%= form_for [@baker, @review] do |f| %>
      <div class="row container">
        <div class="columns large-6 small-12">
        <div class="field">
          <%= f.label :body, "Review" %>
          <%= f.text_field :body %>
        </div>

        <div class="field">
          <%= f.label :rating, "Rating" %>
            <%= f.collection_radio_buttons :rating, [[1, "1"], [2, "2"], [3, "3"], [4, "4"], [5, "5"]], :first, :last %>
        </div>

        <div class="actions">
          <%= f.submit "Submit Review" %>
        </div>
      </div>
    </div>
    <% end %>
    <p><%= link_to "Back to Home ", users_path %></p>

</div>
