  <div class="sign_up_whole">

        <h1 id="username" class="text-center">Baker: <%= @baker.first_name %></h1>

        <div class="columns large-6 small-12">

        <h1 id="username">
          <%if @average.nan? %>
          <h4 id="username" class="text-center">Rating:</h4>
            <div id="username"class="text-center">
              Be the first to rate
             <%=@baker.first_name %>!</div>
          <% else%>
            <h4 id="username" class="text-center">Rating:</h4>
            <p id="username"class="text-center"><%= @average %></p>
            <%end%>
        </h1>

        <div class="Reviews" id="ReviewList"></div>

        </div>

        <% if @baker== @user%>

        <%else%>
        <%= form_for [@baker, @review] do |f| %>
        <div class="row container">
          <div class="columns large-6 small-12">
          <div class="field">
            <%= f.label :body, "Review", id: "forms" %>
            <%= f.text_field :body %>
          </div>

          <div class="field">
            <%= f.label :rating, "Rating", id: "forms" %>
              <%= f.collection_radio_buttons :rating, [[1, "1"], [2, "2"], [3, "3"], [4, "4"], [5, "5"]], :first, :last %>
          </div>

          <div class="actions">
            <%= f.submit "Submit Review", id: "forms" %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>

      <% if @user.admin %>
        <%= form_for(@user) do |f|%>
          <div class="field">
            <%= f.label :admin, "Make this user an Admin?", id: "small_forms" %>
            <%= f.check_box :admin %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", id: "small_forms" %>
          </div>
        <% end %>
      <%end %>
</div>
