<div class="bar-form columns large-6 small-12">
  <h3>Get me some cookies</h3>


  <%= form_for(@order) do |f| %>

    <div class="field">
      <%= f.label :cookie_type %><br/>
      <%= f.text_field :cookie_type %>
    </div>

    <div class="field"><br/>
      <%= f.label :cookie_amount, "How many cookies?" %><br/>
      <%= f.collection_radio_buttons :cookie_amount, [[6, "1/2 Dozen"], [12, "1 Dozen"], [18, "1 1/2 Dozen"], [24, "2 Dozen"], [30, "2 1/2 Dozen"], [36, "3 Dozen"], [42, "3 1/2 Dozen"], [48, "4 Dozen"]], :first, :last %>
    </div><br/>

    <div class="field">
      <%= f.label :payment %><br/>
      <%= f.text_field :payment %>
    </div>

    <div class="field"><br/>
      <%= f.label :allergies %><br/>
      <%= f.text_field :allergies %>
    </div>

    <div class="actions">
      <%= f.submit(value="Submit Order") %>
    </div>

  <% end %>

</div>
