<div class="sign_up_whole">
  <div class="row container">
    <div class="columns small-12">
      <h3 id="username"><%=@order.consumer.first_name %> <%=@order.consumer.last_name%>'s order
      </h3>
      <br/>
      <h3 id="username">
        <%= @order.cookie_amount%> <%= @order.cookie_type%> cookies
        for $<%=@order.payment %>
      </h3>
      <br/>
      <h3 id="username">
        Allergies:
        <% if @order.allergies.length == 0%>
          None
        <% else %>
          <%=@order.allergies %>
        <% end %>
      </h3>
      <br/>
      <h3 id="username">
      <%= @pickup %> at <%= @user.street %>, <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
      </h3>
      <br/>
      <h3 id="username">
        <%=@order.consumer.first_name %> can be contacted at <%=@order.consumer.phone_number%>
      </h3>

  <% if @order.consumer != @user && @user.baker %>

    <%if !@order.fulfilled %>
      <%= form_for(@order) do |f| %>

        <div class="field">
          <%= f.label :fulfilled, "Accept?",id: "list" %>
          <%= f.check_box :fulfilled %>
        </div>

        <div class="actions">
          <%= f.submit "Submit",id: "list" %>
        </div>

      <% end %>
    <%end%>
  <%end%>

  <% if @order.consumer == @user && @order.fulfilled && !@order.completion %>

    <div class="small-12 small-centered columns">

    <%= form_for @charge do |f| %>
      <% if @charge.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this subscription from being saved:</h2>
          <ul>
          <% @charge.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% else %>
      <%= f.hidden_field :order_id, value: @order.id %>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Pay for cookies"
              data-amount= "<%=@order.payment*100%>"
              data-locale="auto"></script>

    <% end %>
    <% end %>
    </div>
    <br/>
      <%= form_for(@order) do |f| %>

        <div class="field">
          <%= f.label :completion, "Order Complete?",id: "list" %>
          <%= f.check_box :completion %>
        </div>

        <div class="actions">
          <%= f.submit "Submit",id: "list" %>
        </div>

      <% end %>
  <% end %>

    <p id="username"><%= link_to "Back to Orders", orders_path %></p>

    </div>
  </div>
</div>
