<div class="small-8 small-centered columns">
<div class="sign_up_whole ">

<%= form_for @charge do |f| %>
  <% if @charge.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @charge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% else %>
  <%= f.hidden_field :order_id, value: @order.id %>

  <div class="actions"><%= link_to "Pay", "https://checkout.stripe.com/checkout.js",
, data: {amount:((@order.payment*100)+1),description:@order, key:Rails.application.secrets.stripe_publishable_key}
   %></div>
<% end %>
</div>
</div>
