<!DOCTYPE html>
<html>
  <head>
    <title>DEVOUR</title>
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="top-bar">
    <div id="list"class="top-bar-left">
      <div id="user-email">
        <% if user_signed_in? %>
          <%= link_to "Logout  ", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          |<%= link_to "   DEVOUR", users_path %>
          |<%= link_to "  Profile", @user %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          |<%= link_to " Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>
  </div>

  <body>
    <% if notice %>
  <p class="alert alert-success",id: "small_forms"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger",id: "small_forms"><%= alert %></p>
<% end %>
<div class="row column">
  <%= yield %>

</div>
  </body>
</html>
